*.iml
.gradle
/local.properties
/.idea/caches/indicator.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/deploymentTargetDropDown.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/vcs.xml
/.idea/kotlinc.xml
/.idea/inspectionProfiles
/.idea/compiler.xml
/.idea/vcs.xml
/build
Captures
.externalNativeBuild
.cxx
local.properties
